html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Tahoma", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  min-width: 320px;
  width: 100%;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.search {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  display: flex;
}

.search__field {
  padding: 5px 5px 5px 10px;
  font-size: 1.2em;
  background-color: white;
  border: none;
}

.search__btn {
  margin-left: 5px;
  padding: 6px 15px 4px 15px;
  background-color: #2abaef;
  border: none;
  cursor: pointer;
}

.search__btn:hover,
.search__btn:focus {
  background-color: #24b0e2;
}

.search__btn svg {
  fill: white;
}

.search__icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/search.svg") no-repeat center;
  /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='#FFF' fill-rule='nonzero' d='M14.943 13.562a8.373 8.373 0 0 0 1.8-5.183C16.743 3.767 12.984 0 8.36 0 3.736 0 0 3.767 0 8.379s3.759 8.379 8.36 8.379c1.845 0 3.69-.64 5.17-1.804L18.566 20 20 18.562l-5.057-5zm-6.583 1.21c-3.485 0-6.333-2.854-6.333-6.347 0-3.493 2.848-6.347 6.333-6.347 3.485 0 6.332 2.854 6.332 6.347 0 3.493-2.847 6.347-6.332 6.347z'/></svg>") no-repeat center; */
}

.search__icon--load {
  display: block;
  width: 15px;
  height: 5px;
  background-image: none;
  background-color: #ffffff;
  border-radius: 25%;
  transform: translateX(-60%);
  animation: move 2s infinite;
}

.map {
  width: 100%;
  height: 100%;
}


.error-box {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 267px;
  min-height: 15px; 
  z-index: 10;
  background-color: #ffffff;
  padding: 10px;
}

@keyframes move {
  50% {
    transform: translateX(60%);
  }

  100% {
    transform: translateX(-60%);
  }
}
